
.time-line-box {
  height: 100%; 
  padding: 3rem 0 0 0;
  width: 100%;
}

.time-line-box .timeline {
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
}

.time-line-box .timestamp {
  margin: auto;
  margin-bottom: 5px;
  padding: 0px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1rem;
}
/* garis horizontal atas*/
.time-line-box .status {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  border-top: 3px solid ;
  position: relative;
  transition: all 200ms ease-in;
  margin-bottom: 0rem;
  height: 1rem;
}
.time-line-box .status span {
  padding-top: 8px;
}
/* bulatan */
.time-line-box .status span:before {
  /* border-top-right-radius: ; */
  content: '';
  width: 12px;
  height: 12px;
  /* background-color: #455EFC; */
  border-radius: 12px;
  border: 2px solid;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 200ms ease-in;
}
/* warna garis & bulatan */
.time-line-box .checked0 {
  border-color: #ff0000 !important;
}
.time-line-box .checked5 {
  border-color: #FFFF00 !important;
}
.time-line-box .checked10 {
  border-color: #00FF00 !important;
}
.time-line-box .checked0 span:before {
  border-color: #ff0000 !important;
  background-color: #ff0000 !important;
}
.time-line-box .checked5 span:before {
  border-color: #FFFF00 !important;
  background-color: #FFFF00 !important;
}
.time-line-box .checked10 span:before {
  border-color: #00FF00 !important;
  background-color: #00FF00 !important;
}

.swiper-container {
  width: 90%;
  margin: auto;
  overflow-y: auto;

}
.swiper-wrapper{
  display: flex;
  flex-direction: row;
  overflow-y:auto;
  justify-content: center; 
}
.swiper-container::-webkit-scrollbar-track{
   background:#a8a8a8b6;
}
.swiper-container::-webkit-scrollbar{
  height: 4px;
}
.swiper-container::-webkit-scrollbar-thumb{
   background: #4F4F4F !important;
}
.swiper-slide {
  text-align: center;
  font-size: 0.75em;
  width: calc(100% / 6);
  height: 100%;
  position: relative;
}
.swiper-slide5 {
  text-align: center;
  font-size: 0.75em;
  width: calc(100% / 5);
  height: 100%;
  position: relative;
}
.swiper-slide4 {
  text-align: center;
  font-size: 0.75em;
  width: calc(100% / 4);
  height: 100%;
  position: relative;
}
.swiper-slide3 {
  text-align: center;
  font-size: 0.75em;
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}

.vertical-con {
  position: absolute;
  width: 2rem;
  height: 4rem;
}
.right-con {
  border-right: 3px solid;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: 1.33rem;
  margin-left: 89%;
}
.left-con {
  border-left: 3px solid;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-top: 1.33rem;
  margin-right: 89%;
}
