
.time-line-box {
  height: 100%; 
  padding: 10px 0;
  width: 100%;
}

.time-line-box .timeline {
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
}

.time-line-box .timestamp {
  margin: auto;
  margin-bottom: 5px;
  padding: 0px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1rem;
}
/* garis horizontal atas*/
.time-line-box .status {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  border-top: 3px solid ;
  position: relative;
  transition: all 200ms ease-in;
  margin-bottom: 2rem;
  height: 1rem;
}
.time-line-box .status span {
  padding-top: 8px;
}
/* bulatan */
.time-line-box .status span:before {
  /* border-top-right-radius: ; */
  content: '';
  width: 12px;
  height: 12px;
  /* background-color: #455EFC; */
  border-radius: 12px;
  border: 2px solid;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 200ms ease-in;
}
/* warna garis & bulatan */
.time-line-box .checked0 {
  border-color: #ff0000 !important;
}
.time-line-box .checked5 {
  border-color: #FFFF00 !important;
}
.time-line-box .checked10 {
  border-color: #00FF00 !important;
}
.time-line-box .checked0 span:before {
  border-color: #ff0000 !important;
  background-color: #ff0000 !important;
}
.time-line-box .checked5 span:before {
  border-color: #FFFF00 !important;
  background-color: #FFFF00 !important;
}
.time-line-box .checked10 span:before {
  border-color: #00FF00 !important;
  background-color: #00FF00 !important;
}
/* garis horizontal bawah */
.time-line-box .line-con {
  padding: 0px 10px;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid;
  position: relative;
  transition: all 200ms ease-in;
  height: 1rem;
}
.status0 {
  height: 1rem;
}
.time-line-box .line-con span {
  padding-bottom: 0.3rem;
}
/* bulatan bawah*/
.time-line-box .line-con span:before {
  content: '';
  width: 12px;
  height: 12px;
  /* background-color: #455EFC; */
  border-radius: 12px;
  border: 2px solid;
  position: absolute;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translate(-50%, 70%);
  -ms-transform: translate(-50%, 70%);
  transform: translate(-50%, 70%);
  transition: all 200ms ease-in;
}
.swiper-container {
  width: 80%;
  margin: auto;
  overflow-y: auto;

}
.swiper-wrapper{
  display: flex;
  flex-direction: row;
  overflow-y:auto;
  /* justify-content: center; */
}
.swiper-container::-webkit-scrollbar-track{
   background:#a8a8a8b6;
}
.swiper-container::-webkit-scrollbar{
  height: 4px;
}
.swiper-container::-webkit-scrollbar-thumb{
   background: #4F4F4F !important;
}
.swiper-slide {
  text-align: center;
  font-size: 12px;
  width: 20rem;
  height: 100%;
  position: relative;
}
.vertical-line{
  margin: 0; 
  padding: 0; 
  width: 5px; 
  border-right: 3px solid; 
  height: 4.2rem;
}
.left-con{
  position: absolute;
  left: 9.67%;
  margin-top: 2.2rem;
}
.right-con{
  position: absolute; 
  left: calc(90% - 0.3rem);
  margin-top: 2.2rem;
}

.corner-right-top{
  border-right: 3px solid; 
  border-top-right-radius: 1rem;
}
.corner-right-bottom{
  border-right: 3px solid; 
  border-bottom-right-radius: 1rem;
}
.corner-left-top{
  border-left: 3px solid;
  border-top-left-radius: 1rem;
}
.corner-left-bottom{
  border-left: 3px solid;
  border-bottom-left-radius: 1rem;
}