* {
    box-sizing: border-box;
    outline: none !important;
}
button:focus { outline: none !important; box-shadow: none !important; }
a:focus {outline: none !important;}
body { font-family: 'Inter', sans-serif; color: #333333; font-weight: 400; font-size: 20px; line-height: 1.5; margin: 0; padding: 0; overflow-x: hidden; -webkit-text-size-adjust: 100%;}
img {max-width: 100%;}
p, li {font-size: 20px; color: #333333; line-height: 1.5;}
p {margin:0 0 20px 0;}
ul {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-top: 0px;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    line-height: 1.1;
    font-weight: 700;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1642px;
}
.inner-wrapper-padding {
    padding: 0 80px;
}

.about-timeline{background-color:#f3f3f3; padding: 140px 0 125px;}

.timeline-box h6{font-size: 55px; line-height: 1; color: #d21e1e; font-weight: 700; font-family: 'Poppins', sans-serif;background-color: #f3f3f3;position: relative; z-index: 1; display: inline-block; width: auto; padding: 0 10px;margin-top: 0; transform: translate(0,-50%);} 

.timeline-box p{font-size: 18px; line-height: 27px; color: #000000; font-weight: 400;margin-bottom: 26px;font-family: 'Inter', sans-serif;} 
.timeline-box p:last-of-type{margin-bottom:15px;} 
.start-point h4{font-size: 17px; line-height: 23px; color: #ffffff; font-weight: 600;text-transform: uppercase;background-color: #d21e1e;border-radius: 16px;display: block; width: auto; text-align: center; padding: 5px 25px;position: relative;margin-bottom: 45px;font-family: 'Inter',sans-serif;} 
.black-dot{width: 21px;height: 21px;background-color: #000;border-radius: 50%;display: block;margin: 0 auto 62px;z-index: 1;} 
.start-point{position: relative;display: flex; justify-content: center; flex-direction: column; align-items: center} 
.start-point:before{content:'';position: absolute;left: 0;height: 100%;width: 0px;background-color: #aaa;left: 50%;top: 0;transform: translate(-50%,0%);-webkit-transform: translate(-50%,0%);-moz-transform: translate(-50%,0%); border-left: 1px solid #aaa;} 
.timeline-row .horizontal-line {border-top: 1px solid #aaa; width: calc(100% - 150px); margin: 0 auto; position: absolute; top: 0; left: 50%; z-index: 0; transform: translate(-50%,0%); }
.timeline-row .verticle-line { margin: 0; padding: 0; width: 2px; border-right: 1px solid #aaa; height: calc(100% - 150px); position: absolute; top: 0; right: 0; margin: auto 0; bottom: 0; } 
.timeline-row:nth-child(2n+2) .verticle-line { left: 0; right: inherit; } 
.corner { position: absolute; border-right: 1px solid #aaa; width: 76px; height: 76px; right: 0; border-top: 1px solid #aaa; top: 74.9px; border-radius: 0 70px 0 0;top: 0; } 
.timeline-row:nth-child(2n+2) .corner { right: inherit; left: 0; border-left: 1px solid #aaa; border-right: 0; border-radius: 70px 0 0 0; } .corner.bottom { bottom: -76px; top: inherit; border-radius: 0; border-top: 0; border-bottom: 1px solid #aaa; border-radius: 0 0 70px 0; right: 0;z-index: 1;bottom: -1px; } 
.timeline-row:nth-child(2n+2) .corner { right: inherit; left: 0; border-left: 1px solid #aaa; border-right: 0; border-radius: 70px 0 0 0; } 
.timeline-row:nth-child(2n+2) .corner.bottom { border-radius: 0 0 0 70px; } 
.timeline-row { display: flex; justify-content:space-around; flex-wrap: wrap; padding-bottom: 0px; position: relative;/*padding: 0 66px 130px;margin-right: 111px;*/ } 
.timeline-row:nth-child(2n+2) { justify-content: space-around;text-align: right; padding:  0 2%; } 
.timeline-row:nth-child(2n+2) { flex-direction: row-reverse; } 
/*.timeline-row:nth-child(2n+2) .timeline-content-txt { text-align: center; }*/
.timeline-box { /*padding: 45px 50px 130px;*/ max-width: 550px;margin-right: 25px; position: relative;} 
.timeline-main{margin-top: 75px;} 
.timeline-row:first-child {margin: 0 0px 0 auto; max-width: 50%; justify-content: space-between; padding: 0 0 0 120px; }
.corner.bl{bottom: 0;left: 0;border-left: 1px solid #aaa; border-bottom: 1px solid #aaa; border-radius: 0 0 0px 100%; border-right: none; border-top: none; height: 76px; width: 76px;} .start-point .corner.bl{left: 50%; bottom: 0px; transform: translateY(100%); top: unset;} 
.timeline-box:before{content: '';position: absolute;left: 0;top: 27.5px;height: 1px;width: 100%;} 
.timeline-box-wrap { padding: 45px 0px 0; position: relative; background: #f3f3f3; /*min-height: 318px;*/padding: 0;margin-bottom: 90px; } 
/*.timeline-row:after{content: ''; position: absolute; left: 50%; top: 74.5px; height: 1px; width: 91%; background-color: #aaa; transform: translateX(-50%);top: 0;} .timeline-row .verticle-line { margin: 0; padding: 0; width: 1px; border-right: 1px solid #aaa; height:calc(100% - 126px); position: absolute; top: calc( 50% + 75px );; right: 0; margin: auto 0; bottom: unset; transform: translateY(-50%);top: 50%; } */
.timeline-row:first-child::after {left: -54px;width: 97%; transform: none; } 
/*.timeline-row:first-child .timeline-box:last-child{margin-right: 5%;} */
.timeline-content { padding: 10px 10px 0;} 
.timeline-content-txt { padding: 10px 0 0 0; } 
.timeline-box.img-right .timeline-content,.timeline-box.img-left .timeline-content{display: flex; align-items: flex-start;} 
.timeline-box.img-right .timeline-content img{margin-left: 18px;} 
.timeline-box.img-left .timeline-content img{margin-right: 18px;} 
.timeline-box.img-left .timeline-content{flex-direction: row-reverse;} 
.timeline-row:first-child .timeline-box:first-child img{filter: drop-shadow(0 0 27px rgba(0,0,0,0.16));-webkit-filter: drop-shadow(0 0 27px rgba(0,0,0,0.16));display: block;margin: 0;} 
.timeline-box-wrap .timeline-content img {filter: drop-shadow(0 0 27px rgba(0,0,0,0.16));-webkit-filter: drop-shadow(0 0 27px rgba(0,0,0,0.16));z-index: 2;position: relative;} 
.timeline-row:last-child .corner.bottom{display: none;} 
.timeline-row:nth-child(2n+1) .timeline-box:last-child .timeline-box-wrap{text-align: center;}
.start-point.end-point:before{display: none;}
.start-point.end-point{ position: absolute; bottom: 0; right: 0%; transform: translateX(50%); }
.timeline-row:nth-child(2n+2) .start-point.end-point{left: 0;transform: translateX(-50%);right: unset;}

.timeline-box.img-right .timeline-content-txt {text-align: right;}
.timeline-box.img-left .timeline-content-txt {text-align: left;}
.timeline-box.img-left, .timeline-box.img-right {text-align: center;}
.timeline-row:first-child .timeline-box::after {left: auto; right: 0; -webkit-transform: translate(100%,-50%) rotate(0deg); transform: translate(100%,-50%) rotate(0deg);}
.timeline-row:first-child .timeline-box:first-child {width: 36%;}
.timeline-row .timeline-box:nth-child(3)::after {display: none;}
.timeline-row:last-child .verticle-line::after {display: none;}
.timeline-row:first-child .timeline-box:nth-child(2)::after {display: none;}

.timeline-content-img .timeline-content {position: relative;}

/*==============Responsive==============*/


@media screen and (max-width: 1800px) {

.timeline-box {max-width: 460px;}
  .timeline-box.img-right .timeline-content img, .timeline-box.img-left .timeline-content img {max-width: 220px; max-height: 230px;}
  .timeline-box-wrap .timeline-content img {max-width: 100%;}
}




@media screen and (max-width: 1600px){
 
  .timeline-row:first-child .timeline-box:first-child {width: 38%;}
  .timeline-box {max-width: 380px;}
  .timeline-box.img-right .timeline-content img, .timeline-box.img-left .timeline-content img {max-width: 180px; max-height: 190px;}
  .timeline-box h6 {font-size: 50px;}
  .about-timeline {padding: 120px 0 100px;}
  .timeline-box p {font-size: 16px;}
}

@media screen and (max-width: 1440px) {
  
  .about-timeline {padding: 100px 0 80px;}
  .start-point h4 {font-size: 15px; letter-spacing: 0;}
  .timeline-box h6 {font-size: 40px;}
  .timeline-row:first-child .timeline-box:first-child {width: 45%;}
  .timeline-box p {font-size: 15px; line-height: 1.4;}
  .timeline-box {max-width: 300px;}
  .timeline-box.img-right .timeline-content img, .timeline-box.img-left .timeline-content img {max-width: 140px; max-height: 200px;}
  .timeline-box-wrap .timeline-content img {max-width: 100%;}
  .timeline-row:first-child .timeline-box:nth-child(2) {width: 150px;}
}


@media screen and (max-width: 1199px) {
  .about-timeline {padding: 90px 0 60px;}
  .timeline-box h6 {font-size: 34px;}
  .timeline-box {max-width: 240px;}
  .timeline-row:first-child {padding: 0 0 0 60px;}
  .timeline-row:first-child .timeline-box:first-child {width: 42%;}
  .timeline-box.img-right .timeline-content, .timeline-box.img-left .timeline-content {flex-wrap: wrap;}
  .timeline-box.img-right .timeline-content img, .timeline-box.img-left .timeline-content img {max-width: 180px; max-height: 200px;}
  .top-timeline-arrow.timeline-content-img .timeline-content::after {right: 0;}
  .img-right.timeline-content-img .timeline-content::after {top: -20px; right: -45px;}
.timeline-box.img-right .timeline-content-txt {width: 90%;}
}

@media screen and (max-width: 1024px) {
.corner {display: none;}
  .timeline-row .horizontal-line {display: none;}
  .timeline-row:first-child {max-width: 100%; padding: 0;}
  .timeline-main {margin-top: 0;}
  .timeline-row .verticle-line {right: 50%; transform: translate(50%,0); height: calc(100% - 0px);}
  .timeline-row:nth-child(2n+2) .verticle-line {left: auto; right: 50%;}
  .verticle-line::after {display: none;}
  
  .timeline-row .timeline-box {width: 100%; max-width: 100%; margin: 0;}
  .timeline-row:first-child .timeline-box:first-child {width: 100%; margin: 0;}
  .timeline-row:first-child .timeline-box:nth-child(2) {width: 100%;}
  .timeline-box p br {display: none;}
  .timeline-box h6 {transform: translate(0,-0%); padding: 0;}
  .timeline-content {padding: 0;}
  .timeline-box.img-right .timeline-content-txt {width: 100%;}
  .start-point.end-point {right: 50%;}
  .start-point h4 {margin-bottom: 0;}
  .about-timeline {padding: 80px 0;}
  .timeline-box::after {-webkit-transform: translate(-100%,100%) rotate(180deg); transform: translate(-100%,100%) rotate(180deg); right: 50%; top: 20px; left: 50%;}
  .timeline-box-wrap {width: 50%; text-align: right; padding: 0 30px 0 0; margin: 40px 0 0 0;}
  .timeline-row .timeline-box img {margin: 0 0 0 auto;}
  .timeline-row:first-child .timeline-box:nth-child(2)::after {display: block;}
  .timeline-row:first-child .timeline-box:first-child img {margin: 0 0 0 auto;}
  .timeline-box.img-right .timeline-content img, .timeline-box.img-left .timeline-content img {margin: 0 0 0 auto;}
  .timeline-row .timeline-box:nth-child(2n) .timeline-box-wrap {margin: 40px 0 0 auto; padding: 0 0 0 30px; text-align: left;}
  .timeline-row:nth-child(2n+1) .timeline-box::after {left: auto; right: 50%; -webkit-transform: translate(0%,100%) rotate(180deg); transform: translate(0%,100%) rotate(180deg); top: 20px;}
  .timeline-row .timeline-box:nth-child(2n)::after {transform: translate(100%,100%) rotate(0deg); -webkit-transform: translate(100%,100%) rotate(0deg); right: 50%; left: auto;}
  .timeline-row .timeline-box:nth-child(3)::after {display: block;}
  .timeline-box.img-left .timeline-content-txt {text-align: right;}
  .timeline-row:last-child {padding-bottom: 70px;}
}

@media screen and (max-width: 640px) {
  
  .about-timeline {padding: 50px 0;}
  .timeline-box h6 {font-size: 27px;}
  .timeline-box p {font-size: 14px; line-height: 1.4;}
  .timeline-box-wrap {margin: 30px 0 0 0;}
  .timeline-row .timeline-box:nth-child(2n) .timeline-box-wrap {margin: 30px 0 0 auto;}
  .timeline-box::after, .timeline-row:nth-child(2n+1) .timeline-box::after {top: 6px;}
  .timeline-box-wrap .timeline-content img {max-width: 100%;}
  .timeline-box.img-right .timeline-content img, .timeline-box.img-left .timeline-content img {max-width: 100%; max-height: unset;}
}